<div class="w-full mt-8">

    <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Teams</h1>
    </div>

    <div id="teams" class="min-w-full mt-8">
        <div class="grid grid-cols-2 gap-8 mx-24">
            <% @teams.each do |team|  %>
                <div class="w-full rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Team: <%= team.name %> </div>
                        <p class="text-gray-700 text-base">
                            <%= team.details %>
                        </p>
                    </div>
                    <div class="grid grid-cols-3 gap-4 px-6 pt-4 pb-2">
                        <% team.players.each do |player|  %>
                            <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                                <%= player.fullname  %>
                            </div>
                        <% end %>
                    </div>
            
                </div>
            <% end %>
        </div>
    </div>

</div>
