<div class="w-full mt-8">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-yellow-700">Players</h1>
    <%#= link_to 'New player', new_player_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="players" class="min-w-full mt-8">
    <div class="grid grid-cols-3 gap-4 mx-8">
      <%= render @players %>
    </div>
        
      
  </div>
</div>
